@font-face{
	font-family: "courgette";
	src:url("fonts/Courgette/Courgette-Regular.ttf");
}
@font-face{
	font-family: "dancing";
	src:url("fonts/Dancing/DancingScript-VariableFont_wght.ttf");
}
@font-face{
	font-family: "garamond";
	src:url("fonts/garamond/EBGaramond-VariableFont_wght.ttf");
}